@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: "UraniaCzech";
  src: local("UraniaCzech"),
    url("./assets/fonts/URANIA_CZECH.ttf") format("truetype");
}


@font-face {
  font-family: "Dm-Mono";
  src: local("Dm-Mono"),
    url("./assets/fonts/DMMono-Regular.ttf") format("truetype");
}


@layer base {
  html {
    font-family: 'Dm-Mono', sans-serif;
  }
}

.title {
    font-family: 'UraniaCzech', sans-serif;
}

.custom-shadow {
  box-shadow: 6px 7px 2px 0px rgba(0, 0, 0, 1.0);
  border: 2px solid black;
}

.custom-shadow:hover {
  border: 2px solid black;
}